<template>
  <div class="flex-grid" v-if="asyncDataStatus_ready">
    <UserProfileCard
      v-if="!edit"
      :user="user"
    />
    <UserProfileCardEditor
      v-else
      :user="user"
    />

    <div class="col-7 push-top">
      <div class="profile-header">
        <span class="text-lead">
            {{user.username}} недавняя активность
        </span>
        <a href="#">Видите только запущенные темы?</a>
      </div>

      <hr>
      <PostList :posts="userPosts"/>
    </div>
  </div>
</template>

<script>
    import PostList from '@/components/PostList'
    import UserProfileCard from '@/components/UserProfileCard'
    import UserProfileCardEditor from '@/components/UserProfileCardEditor'
    import {mapActions} from 'vuex'
    import asyncDataStatus from '@/mixins/asyncDataStatus'

    export default {
      components: {
        PostList,
        UserProfileCard,
        UserProfileCardEditor
      },

      mixins: [asyncDataStatus],

      props: {
        edit: {
          type: Boolean,
          default: false
        },
        id: {
          type: String
        }

        // user: {
        //   type: Object,
        //   required: true
        // }
      },

      methods: {
        ...mapActions('users', ['fetchUser']),
        ...mapActions('posts', ['fetchPosts'])
      },

      computed: {
        // ...mapGetters({
        //   user: 'auth/authUser'
        // }),

        user () {
          return this.$store.state.users.items[this.id]
        },

        userPosts () {
          return this.$store.getters['users/userPosts'](this.user['.key'])
        }
      },
      created () {
        this.$store.dispatch('users/fetchUser', {id: this.id})
          .then((user) => this.$store.dispatch('posts/fetchPosts', {ids: this.user.posts}))
          .then(() => this.asyncDataStatus_fetched())
      }
    }
</script>

<style scoped>

</style>
