<template>
  <div class="flex-grid justify-center">
    <div class="col-2">

      <form @submit.prevent="register" class="card card-form">
        <h1 class="text-center">Регистрация</h1>

        <div class="form-group">
          <label for="name">Имя</label>
          <input v-model="form.name" id="name" type="text" class="form-input">
        </div>

        <div class="form-group">
          <label for="username">Псевдоним</label>
          <input v-model="form.username" id="username" type="text" class="form-input">
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input v-model="form.email" id="email" type="email" class="form-input">
        </div>

        <div class="form-group">
          <label for="password">Пароль</label>
          <input v-model="form.password" id="password" type="password" class="form-input">
        </div>

        <div class="form-group">
          <label for="avatar">Аватар</label>
          <input v-model="form.avatar" id="avatar" type="text" class="form-input">
        </div>

        <div class="form-actions">
          <button type="submit" class="btn-blue btn-block">Зарегистрироваться</button>
        </div>

      </form>
      <div class="text-center push-top">
        <button @click="registerWithGoogle" class="btn-red btn-xsmall"><i class="fa fa-google fa-btn"></i>Регистрация через Google </button>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      data () {
        return {
          form: {
            name: null,
            username: null,
            email: null,
            password: null,
            avatar: null
          }
        }
      },

      methods: {
        register () {
          this.$store.dispatch('auth/registerUserWithEmailAndPassword', this.form)
            .then(() => this.successRedirect())
        },

        registerWithGoogle () {
          this.$store.dispatch('auth/signInWithGoogle')
            .then(() => this.successRedirect())
        },

        successRedirect () {
          const redirectTo = this.$route.query.redirectTo || {name: 'Home'}
          this.$router.push(redirectTo)
        }
      },

      created () {
        this.$emit('ready')
      }
    }
</script>

<style scoped>

</style>
