<template>
  <div v-if="post && user" class="post">
    <div class="user-info" @click="">
      <router-link class="user-name" :to="{name: 'Profile'}" v-if="user['.key'] === userMy['.key']">{{user.name}}</router-link>
      <router-link class="user-name" :to="{name: 'ProfileUserShow', params: {id: user['.key']}}" v-else>{{user.name}}</router-link>
<!--      <a href="#" class="user-name">{{user.name}}</a>-->

      <a href="#">
        <img class="avatar-large" :src="user.avatar" alt="">
      </a>

      <p class="desktop-only text-small">{{userThreadsCount}} темы</p>
      <p class="desktop-only text-small">{{userPostsCount}} посты</p>
    </div>

    <div class="post-content">
      <template v-if="!editing">
        <div>
          {{post.text}}
        </div>
        <a @click.prevent="editing = true" v-if="userMy.isModer || user['.key'] === userMy['.key']" href="#" class="link-unstyled edit-link" title="Make a change"><i class="fa fa-pencil"></i></a>
        <a @click.prevent="actionDeletePost" v-if="userMy.isModer || user['.key'] === userMy['.key']" href="#" class="link-unstyled delete-link" title="Make a change"><i class="fa fa-trash"></i></a>
      </template>
      <div v-else>
        <PostEditor
          :post="post"
          @save="editing = false"
          @cancel="editing = false"
        />
      </div>

    </div>

    <div class="post-date text-faded">
      <div v-if="post.edited" class="edition-info">Изменено</div>
      <AppDate :timestamp="post.publishedAt"/>
    </div>
  </div>
</template>

<script>
    import PostEditor from './PostEditor'
    import {mapActions, mapGetters} from 'vuex'

    export default {
      props: {
        post: {
          required: true,
          type: Object
        }
      },

      components: {
        PostEditor
      },

      data () {
        return {
          editing: false
        }
      },

      methods: {
        ...mapActions('posts', ['deletePost']),
        actionDeletePost () {
          this.deletePost({post: this.post})
            .catch(() => alert('Ошибка. Невозможно удалить пост.'))
        }
      },

      computed: {
        ...mapGetters({
          'userMy': 'auth/authUser'
        }),
        user () {
          return this.$store.state.users.items[this.post.userId]
        },

        userPostsCount () {
          return this.$store.getters['users/userPostsCount'](this.post.userId)
        },

        userThreadsCount () {
          return this.$store.getters['users/userThreadsCount'](this.post.userId)
        }
      }
    }
</script>

<style scoped>
  .edit-link {
    margin-left: auto;
    padding-left: 15px;
    height: 10%;
  }
  .delete-link {
    margin-left: 10px;
    height: 10%;
  }
</style>
