<template>
  <form @submit.prevent="save">
    <div class="form-group">
      <label for="thread_title">Заголовок:</label>
      <input v-model="form.title" type="text" id="thread_title" class="form-input" name="title">
    </div>

    <div class="form-group">
      <label for="thread_content">Содержание:</label>
      <textarea v-model="form.text" id="thread_content" class="form-input" name="content" rows="8" cols="140"></textarea>
    </div>

    <div class="btn-group">
      <button @click.prevent="cancel" class="btn btn-ghost">Отмена</button>
      <button class="btn btn-blue" type="submit" name="Publish">{{isUpdate ? 'Обновить' : 'Опубликовать'}}</button>
    </div>
  </form>
</template>

<script>
    export default {
      props: {
        title: {
          type: String,
          default: ''
        },
        text: {
          type: String,
          default: ''
        }
      },

      data () {
        return {
          form: {
            title: this.title,
            text: this.text
          }
        }
      },

      computed: {
        isUpdate () {
          return !!this.title
        }
      },

      methods: {
        save () {
          this.$emit('save', {title: this.form.title, text: this.form.text})
        },

        cancel () {
          this.$emit('cancel')
        }
      }
    }
</script>

<style scoped>

</style>
