<template>
  <div class="col-3 push-top">

    <div class="profile-card">

      <p class="text-center">
        <img :src="user.avatar" alt="" class="avatar-xlarge">
      </p>

      <h1 class="title">{{user.username}}</h1>

      <p class="text-lead">{{user.name}}</p>

      <p class="text-justify">
        <span v-if="user.bio">{{user.bio}}</span>
        <span v-else>Биография не указана.</span>
      </p>

      <span class="online">{{user.username}}</span>


      <div class="stats">
        <span>{{userPostsCount}} {{userPostsCountText}}</span>
        <span>{{userThreadsCount}} {{userThreadsCountText}}</span>
      </div>

      <hr>

      <p v-if="user.website" class="text-large text-center"><i class="fa fa-globe"></i> <a :href="user.website">{{user.website}}</a></p>

    </div>

    <div class="text-center">
      <hr>
      <router-link
        v-if="user['.key'] === userMy['.key']"
        :to="{name: 'ProfileUserEdit', params: {edit: true, id: userMy['.key']}}"
        class="btn-green btn-small"
      >
        Редактировать профиль
      </router-link>
    </div>

  </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
      props: {
        user: {
          required: true,
          type: Object
        }
      },

      computed: {
        ...mapGetters({
          'userMy': 'auth/authUser'
        }),

        userThreadsCount () {
          return this.$store.getters['users/userThreadsCount'](this.user['.key'])
        },

        userPostsCount () {
          return this.$store.getters['users/userPostsCount'](this.user['.key'])
        },

        userPostsCountText () {
          return this.$store.getters['users/userPostsCountText'](this.user['.key'])
        },

        userThreadsCountText () {
          return this.$store.getters['users/userThreadsCountText'](this.user['.key'])
        }
      }
    }
</script>

<style scoped>

</style>
